{% extends "layout.html" %}

{% block head %}
<script src="../static/channel.js"></script>
{% endblock %}

{% block title %}
{{ session.current_channel }}
{% endblock %}

{% block content %}
<header>
	  Logged in as <div id="dname">{{ name }}</div>
	  </header>

<section>
  <nav>
    Channels <p>
    <p>
      <table class="hoverTable" id="hoverTable">
	</table>
    <p>
    Create new channel
    <p>
    <form id="new_channel" >
    <input id="channel_name" type="text" name="new_channel" class="chn_name" autocomplete="off" autofocus placeholder="new channel">
    <input id="submit" type=submit>
    </form>
    <p>
      Direct Messages<br>
      <table class="hoverTable" id="user_list">
	</table>
      <p>
	<button id="logout_button" type=submit>Log Out</button>

  </nav>

  <article>
    <h4 id="message_header">Messages</h4>
    <table class="hoverTable" id="message_list">
	</table>
    <h4>Enter new message</h4>
    <form id="new_message">
      <textarea class="newchn_msg" id="message_text" placeholder="Enter message here" wrap="soft">
	</textarea>
      <input type="hidden" value= {{ name }} id="displayname">
      <input id="msg_submit" type="submit">
    </form>

    </article>

</section>

{% endblock %}
