{% extends "layout.html" %}

{% block javascripts %}
        <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}

{% block title %}
    Flack Chat
{% endblock %}

{% block content %}
<nav class='navbar justify-content-center'>
  <h1>Welcome to Flack Chat</h1>
</nav>
<div  class='row h-75 no-gutters border border-secondary' >
    <div   class='col-9 bg-light border p-3 d-flex flex-column justify-content-end h-100' >
        <div id='messages' >
        </div>
{% endblock %}
